.overall {
  max-width: 1200px;
  width: 92%;
  margin: 0 auto;
}

.places {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
  padding: 100px 0;
}

.nav2 {
  display: flex;
  align-items: center;
}

.nav2 ul {
  display: flex;
}

.thing li {
  list-style-type: none;
  padding: 40px;
}

.thing li a {
  color: black;
  text-decoration: none;
}

.this-button {
  background: white;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  display: flex;
  gap: 30px;
}

.images {
  padding: 10px;
  width: 100%;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  margin: 0 auto;
}

.the_place img {
  width: 100%;
}

.line1 {
  display: flex;
  justify-content: space-between;
}

.line2 {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.divv {
  display: flex;
  gap: 30px;
}

.logo {
  padding-top: 30;
}
