.overall{
    width: 85%;
    margin: auto;
}

.nav2{
    display: flex;
    align-items: center;
    margin-left: -5%;
}

.naul{
    display: flex;
}

li{
    list-style-type:none;
    padding: 40px;
}

.this-button{
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    padding:10px 30px 10px 30px;
    display: flex;
    position: relative;
    text-align:center;
}

.images{
height: 372px;
width: 292px;
background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
border: 1px solid #D7D7D7;
border-radius: 15px;
}

.the_place{
    margin: auto;
    /* margin-top: 15px; */
    width: 90%;
}

.line1{
    display: flex;
    justify-content: space-between;
}

.line2{
        display: flex;
        justify-content: space-between;
        font-size: 12px;
}

.divv{
    display: flex;
    gap: 30px;
    margin-top: -70px;
}

.places{
    display: flex;  
    flex-wrap: wrap;
    gap:0px;
    margin-top: -100px;
    margin: auto;
}