header{
    margin: auto;
}

#header-text{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    padding-top: 30px;
    margin:auto;
    width: 60%;
}

.image-places{
    width: 85%;
    margin: auto;
}