.main-container{
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border: 1px solid #000000;
    display: flex;
    padding: 100px;
}

.heading{
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
color: white;
}

.texts{
    line-height: 57px;
}

.paragraph-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: white;
}

.learn{
    border-radius: 8px;
    background-color: white;
    color: #A02279;
    padding: 10px 30px;
    border: none;

}