.main-body {
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    width: 100%;
}

.main-container{
    max-width: 1200px;
    width: 92%;
    margin: 0 auto;
    display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 30px;
  padding: 60px 0;
}

.main-img {
    max-width: 800px;
    width: 92%;
}
.main-img img {
    max-width: 100%;
}
.heading{
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
color: white;
}

.texts{
    line-height: 57px;
    width: 100%;
}

.paragraph-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: white;
}

.learn{
    border-radius: 8px;
    background-color: white;
    color: #A02279;
    padding: 10px 30px;
    border: none;
}

@media (max-width: 768px) {
    
.main-container{
    row-gap: 20px;
  grid-template-columns: 1fr;
}

}